<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Ski Resort</h5>
          <p><strong>ID</strong>: {{resort.id}}</p>
          <p> <strong>Name</strong>: {{resort.name}}</p>
          <p> <strong>Now</strong>: {{resort.current_conditions}}</p>
          <p> <strong>Yesterday</strong>: {{resort.precip_prev_day}}</p>
          <p> <strong>Today</strong>: {{resort.precip_forecast}}</p>
          <p> <strong>Latitude</strong>: {{resort.lat}}</p>
          <p> <strong>Longitude</strong>: {{resort.lng}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
